<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/login.css}"/>
    <title>Title</title>
</head>
<body>

<div id="content">
    <div id="odstpet"></div>
    <div id="baner">
        <a th:href="@{/login}">
            <div id="logo">
                <div id="logo_text">
                    BardzoZły
                </div>
                <div id="logo_text2">
                    Bank
                </div>
            </div>
        </a>

        <a th:href="@{/logout}">
            <div id="wyloguj"><i class="fas fa-power-off"></i>Wyloguj</div>
        </a>
    </div>
    <div id="menu">
        <ul>
            <li><a th:href="@{/login}">Strona główna</a></li>
            <li><a th:href="@{/transfer}">Przelewy</a></li>
            <li><a th:href="@{/history}">Historia</a></li>
            <li style="float:right;">
                <div class="daned"><span th:text="${session.name}"></span>
                </div>
                <div class="daned"><span th:text="${session.surname}"></span></div>
            </li>
        </ul>
    </div>
    <div id="tresc">
        <div id="odstepgora"></div>
        <div id="tekstkonto">Konto osobiste</div>
        <div id="infokonto">
            <div id="sekcja1">
                <div id="nazwakonta">
                    Mastercard Konto
                </div>
                <div id="numerkonta">
                    <span th:text="${session.bankNumber}"></span>
                </div>
            </div>

            <div id="sekcja2">
                <div class="srodki">
                    Saldo bieżące
                </div>
                <div class="srodkiPLN">
                    <span th:text="${session.balance}"></span><span class="PLN"> PLN</span>
                </div>
            </div>
            <div id="sekcja3">
                <div class="srodki">
                    Dostępne środki
                </div>
                <div class="srodkiPLN">
                    0.0 <span class="PLN">PLN</span>
                </div>
            </div>
            <div id="sekcja4">
                <div class="srodki">
                    Zablokowane środki
                </div>
                <div class="srodkiPLN">
                    0.0 <span class="PLN">PLN</span>
                </div>
            </div>
        </div>
    </div>
    <div id="stopka">
        STOPKA COPYRAJT @ NIE MOJE
    </div>
</div>
</body>
</html>