@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
*{
	margin:0;
}

body{
	background-color:#EBEBEB;
	text-decoration:none;
}

#content{
	min-height: 100vh;
	background-color:#fff;
}

#stopka{
	width:100%;
	bottom: 0;
	height: 50px;
	border-top:1px solid #ccc;
	text-align:center;
	line-height:50px;
	color:#737373;
	margin-top:15px;
}

#odstpet{
	width:100%;
	height:10px;
}

#baner{
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}

#logo{
	width:200px;
	height:70px;
	background-color:#BC004F;
	font-family:"Segoe UI";
	margin-left:40px;
}

#logo_text{
	color:#fff;
	font-weight:600;
	float:left;
	width:96%;
	height:35px;
	font-size:20px;
	border-bottom:1px solid #fff;
	padding:0 0 0 10px;
}

#logo_text2{
	color:#fff;
	float:left;
	width:90%;
	height:15px;
	text-align:right;	
	font-size:18px;
}

#wyloguj{
	float:right;
	font-size:21px;
	color:#BC004F;
	cursor:pointer;
}

#wyloguj i{
	margin-right:5px;
}

.daned{
	float:left;
	margin-right:5px;
	margin-left:10px;
	color:#fff;
	width:100%;
	float:right;
	text-align:right;
	font-size:18px;
	padding:2px 15px 0 0;
}

#menu{
	width:1100px;
	height:50px;
	background-color:#1E2332;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

#tresc{
	width:1100px;
	min-height:720px;
	background-color:#d9d9d9;
	margin-left:auto;
	margin-right:auto;
}

ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

li a {
	display: block;
	float: left;
	text-align: center;
	font-size: 1.2em;
	width: 130px;
	text-decoration: none;
	color:#Fff;
	background-color:#1E2332;
	width:200px;
	height:50px;
	line-height:50px;
	margin: 0px 1px 1px 0px;

}

li a:hover {
	background: #3a4463;
}

#trescc{
	width:900px;
	min-height:700px;
	padding:0 0 50px 0;
	margin-left:auto;
	margin-right:auto;
}

#odstepg{
	width:100%;
	height:30px;
}

#inforekord{
	width:900px;
	height:60px;
	background-color:silver;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid black;
}

.odstep{
	width:100%;
	height:5px;
}

.rekord{
	width:900px;
	height:60px;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid black;
}