@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import '@sweetalert2/theme-dark/dark.css';
*{
    margin:0;
}

body{
    background-color:#292929;
    text-decoration:none;
}

#content{
    min-height: 100vh;
    background-color:#292929;
}

#stopka{
    width:100%;
    bottom: 0;
    height: 50px;
    border-top:1px solid #141414;
    text-align:center;
    line-height:50px;
    color:#737373;
    margin-top:20px;
}

#odstpet{
    width:100%;
    height:10px;
}

#baner{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}

#logo{
    width:200px;
    height:70px;
    background-color:darkgreen;
    font-family:"Segoe UI";
    margin-left:40px;
}

#logo_text{
    color:#fff;
    font-weight:600;
    float:left;
    width:96%;
    height:35px;
    font-size:20px;
    border-bottom:1px solid #fff;
    padding:0 0 0 10px;
}

#logo_text2{
    color:#fff;
    float:left;
    width:90%;
    height:15px;
    text-align:right;
    font-size:18px;
}

#wyloguj{
    float:right;
    font-size:21px;
    color:darkgreen;
    cursor:pointer;
}

#wyloguj i{
    margin-right:5px;
}

.daned{
    float:left;
    margin-right:5px;
    margin-left:10px;
    color:#fff;
    width:100%;
    float:right;
    text-align:right;
    font-size:18px;
    padding:2px 15px 0 0;
}

#menu{
    width:1100px;
    height:50px;
    background-color:#1f1f1f;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #1a1a1a;
    border-bottom:0;
}

#tresc{
    width:1100px;
    min-height:750px;
    background-color:#121212;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #1a1a1a;
    border-top:0;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 130px;
    text-decoration: none;
    color:#Fff;
    background-color:#191f24;
    width:200px;
    height:50px;
    line-height:50px;
    margin: 0px 1px 1px 0px;
    border-right:1px solid #121212;

}

li a:hover {
    background: #232a31;
}

#rodzaj{
    width:900px;
    height:60px;
    line-height:60px;
    margin-left:auto;
    margin-right:auto;
    font-size:22px;
    font-family:"Segoe UI";
    color:#fff
}

#ttresc{
    background-color:#1f1f1f;
    width:900px;
    height:650px;
    margin-left:auto;
    margin-right:auto;
}

.etap{
    border-bottom:1px solid #fff;
    width:850px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 0 5px 0;
    font-weight:600;
    font-size:16px;
    font-family:"Segoe UI";
    color:#d1d1d1;
}
#moje_konto{
    width:850px;
    margin-left:auto;
    margin-right:auto;
    color:#d1d1d1;
}

#mk_text{
    font-size:18px;
    font-family:"Segoe UI";
    margin-left:200px;
    margin-top:20px;
}

#docelowe_konto{

}

#odstep{
    width:100%;
    height:30px;
}

.wejscie{
    width:100%;
    height:50px;
    margin-top:10px;
}

.textt{
    float:left;
    text-align:right;
    width:150px;
    font-family:"Segoe UI";
    font-size:16px;
    margin-right:15px;
    margin-left:120px;
    margin-top:3px;
    color:#d1d1d1;
}

.inputyy{
    float:left;
}

#informacje{

}

.wejscie2{
    width:100%;
    height:50px;
}

#PLN{
    float:left;
    height:50px;
    font-family:"Segoe UI";
    font-size:17px;
    padding-right:43px;
    font-weight:600;
    line-height:40px;
    margin-left:-240px;
    color:#fff;
}

#przyciski{

}

#p1{
    float:left;
    margin-left:25px;
    margin-top:10px;
}

#p2{
    float:right;
    margin-right:25px;
    margin-top:10px;
}

.wersja1{
    float:left;
    border:1px solid #ccc;
    font-size:14px;
    border-radius:4px;
    box-sizing:border-box;
    transition:.3s;
    outline:none;
    padding:2px 5px;
    margin-left:10px;
    width:265px;
    height:30px;
}

.wersja2{
    float:left;
    border:1px solid #ccc;
    font-size:14px;
    border-radius:4px;
    box-sizing:border-box;
    transition:.3s;
    outline:none;
    padding:2 5;
    margin-left:10px;
    width:80px;
    height:30px;
}

.wersja3{
    float:left;
    border:1px solid #ccc;
    font-size:16px;
    border-radius:4px;
    box-sizing:border-box;
    transition:.3s;
    outline:none;
    padding:2 5;
    margin-left:10px;
    width:170px;
    height:30px;
    color:#fff;
}

#datad{
    float:left;
    width:15px;
    height:15px;
    cursor:pointer;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:34px;
    margin-left:5px;
}

input[type=text]:focus , input[type=email]:focus{
    border-color:orange;
    box-shadow:0 0 8px 0 orange;
}

#p1{
    width:100px;
    height:30px;
    float:left;
    margin-top:22px;
}

#p1 input{
    border:0;
    background-color:#d9d9d9;
    color:#000;
    font-size:13px;
    width:100px;
    height:30px;
    border-radius:4px;
    font-family:"Verdana";
    float:right;
    border:2px solid #bdbdbd;
}

#p1 input:hover{
    background-color:#ededed;
    cursor:pointer;
}

#p2{
    width:170px;
    height:40px;
    float:right;
    margin-top:15px;
}

#p2 input{
    border:0;
    background-color:darkgreen;
    color:#fff;
    font-size:16px;
    width:170px;
    height:40px;
    border-radius:4px;
    font-family:"Verdana";
    float:right;
}

#p2 input:hover{
    border:2px solid darkgreen;
    background-color:#fff;
    color:darkgreen;
    cursor:pointer;
}

input:not([type="submit"]):not(:placeholder-shown):valid {
    border-color:#2ecc71;
    box-shadow:0 0 8px 0 #2ecc71;
}

input:not([type="submit"]):not(:placeholder-shown):valid {
    border-color:#2ecc71;
    box-shadow:0 0 8px 0 #2ecc71;
}

input:not([type="submit"]):focus:invalid {
    border-color: darkgreen;
    box-shadow:0 0 8px 0 darkgreen;
}

input:not([type="submit"]):not(:placeholder-shown) {
    border-color: red;
    box-shadow:0 0 8px 0 red;
}

input:not([type="text"]):not(:placeholder-shown) {
    border-color: grey;
    box-shadow:0 0 0px 0 white;
}

input:not([type="submit"]) + .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}

.input-requirements {
    padding-left: 10px;
    font-style: italic;
    margin-left: 20px;
    color: rgb(150,150,150);
}


.input-requirements li.invalid {
    color: #e74c3c;
}
.input-requirements li.valid {
    color: #2ecc71;
}

.input-requirements li.valid:after {
    display: inline-block;
    content: "\2713";
}